node_modules/
resources/public/js
examples/public/js

.expo/

/target
/checkouts
/src/gen

/tests/render_test/js
/tests/render_test/diff.png
/tests/render_test/new.png

.projectile
pom.xml
pom.xml.asc
*.iml
*.jar
*.log
*~
.shadow-cljs
.idea
.lein-*
.nrepl-*
.DS_Store

.hgignore
.hg/

reports

.lsp/