{:source-paths ["src/main" "src/test" "examples/src" "src/render_test"]
 :dependencies [[medley "1.0.0"]
                [reagent "0.8.1"]]
 :builds {:test     {:target    :browser-test
                     :test-dir  "resources/public/js/test"
                     :ns-regexp "-test$"
                     :devtools  {:http-port          8021
                                 :http-root          "resources/public/js/test"}}
          :ci {:target :karma
               :output-to "target/ci.js"
               :compiler-options {:output-feature-set :es6}
               :ns-regex "-test$"}

          :render-test {:target :browser
                        :output-dir "tests/render_test/js"
                        :modules {:main {:init-fn threeagent.render-test.core/init}}
                        :devtools {:http-root "resources/public" :http-port 8080}}

          :examples {:target :browser
                     :modules {:main {:init-fn shadows.app/init}}
                     :output-dir "examples/public/js"
                     :devtools {:http-root "examples/public" :http-port 8080}}}}
