{:source-paths ["src/main" "src/test" "examples/src"]
 :dependencies [[medley "1.0.0"]
                [reagent "0.8.1"]]
 :builds {:test     {:target    :browser-test
                     :test-dir  "resources/public/js/test"
                     :ns-regexp "system-test$"
                     :devtools  {:http-port          8021
                                 :http-root          "resources/public/js/test"}}
          :ci {:target :karma
               :output-to "target/ci.js"
               :ns-regex "-test$"}

          :examples {:target :browser
                     :modules {:main {:init-fn shadows.app/init}}
                     :output-dir "examples/public/js"
                     :devtools {:http-root "examples/public" :http-port 8080}}}}
 
