{:cljdoc.doc/tree
 [["Introduction" {:file "doc/intro.md"}]
  ["Getting Started" {}
   ["Installation" {:file "doc/installation.md"}]
   ["Concepts" {:file "doc/concepts.md"}]
   ["Quick Start" {:file "doc/quick_start.md"}]]
  ["References" {}
   ["Built-in Entity Types" {:file "doc/built_in_entity_types.md"}]]
  ["Advanced" {}
   ["Extending Threeagent" {:file "doc/extending_threeagent.md"}]
   ["Portals" {:file "doc/portals.md"}]
   ["Contexts" {:file "doc/contexts.md"}]
   ["Shadows" {:file "doc/shadows.md"}]]
  ["FAQ" {:file "doc/faq.md"}]]}
 
